secretkey.py
ouchies.txt
config.py
wordlist.txt
*.sh
venv/*
converter.py
deathreason.txt
hamletscraper.py
config.py
/tests/.pytest_cache/
/prof/
/logs*
/Dockerfile_prod_build
/venv311/
/venv3.8-2/
/venv/
/.env
